<div class="header">
  <div class="banner">
    <div class="logo">
      <div class="left-text">
        <span class="text">Erik Ebeling</span>|<span class="text">{% if page.subtitle %}{{ page.subtitle }}{% else %}Painting Sculpture Drawing{% endif %}</span>
      </div>
      <div class="right-text">
        <a href="{{site.baseurl}}/">Art</a> | <a href="{{site.baseurl}}/design">Design</a> | <a href="{{site.baseurl}}/about">About</a> | <a href="{{site.baseurl}}/contact">Contact</a>
      </div>
    </div>
  </div>
</div>


