{% assign num_art = include.data.size %}
{% for i in (1..num_art) %}
  {% assign project = include.data[forloop.index0] %}
  <div class="row">
    <div class="col-md-8">
      <img class="img-thumbnail" title="{{project.title}}" src="{{site.baseurl}}/images/{{include.images_subdir}}/{{project.file_name}}{{project.type}}" {% if project.max_res %}data-rjs="{{project.max_res}}"{% endif %}/>
    </div>
    <div class="col-md-4">
      <div class="number">
        {{i}} / {{num_art}}
      </div>
      <div class="title">
        {{project.title}}
      </div>
      <div class="media">
        {{project.media}}
      </div>
      <div class="description">
        {{project.description}}
      </div>
    </div>
  </div>
{% endfor %}
