<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}
  <div class="container">
    {{ content }}
  </div>
  {% include footer.html %}

  <!-- .modal-profile -->
  <div class="modal fade modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">×</button>
          <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- //.modal-profile -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

  <script>
    var kkeys = [],
      konami = "38,38,40,40,37,39,37,39,66,65,13";
    $(document).keydown(function (e) {
      kkeys.push(e.keyCode);
      if (kkeys.toString().indexOf(konami) >= 0) {
        $(document).unbind('keydown', arguments.callee);
        $.getScript('http://www.cornify.com/js/cornify.js', function () {
          cornify_add();
          $(document).keydown(cornify_add);
        });
      }
    });

    //ekko lightbox
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

    //bootstrap modal lightbox

    // $(document).ready(function () {
    //   /* show lightbox when clicking a thumbnail */
    //   $('a.thumb').click(function (event) {
    //     event.preventDefault();
    //     var content = $('.modal-body');
    //     content.empty();
    //     var title = $(this).attr("title");
    //     $('.modal-title').html(title);
    //     content.html($(this).html());
    //     $(".modal-profile").modal({
    //       show: true
    //     });
    //   });

    // });
  </script>
</body>

</html>